page-home {

}

.image-container{
	float:left;
	text-align:center;
	width:100px;
	padding-right:10px;
}

.image {
	max-height:50px;
}

.property-type, .value, .area{
	display:inline-block;
}

.short-description{
	vertical-align:bottom;
}
